#
# vim
#
.vim/swap/*
.vim/back/*
.vim/undo/*
!.vim/swap/.keep
!.vim/back/.keep
!.vim/undo/.keep
!.vim/colors/.keep
.vim/.netrwhist
.vim/winpos
.vim/dein

#
# nvim
#
.config/nvim/.netrwhist
!.config/nvim/swap/.keep
!.config/nvim/back/.keep
!.config/nvim/undo/.keep

